<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="formUno" name="formUno" action="/Add" method="post">
        <label for="opion">How do you feel about turnips in words(good, bad, rad) and color?</label><br>
        <input name="subOne" type="text">
        <input name="subTwo" type="color">
        <button name="submit" type="submit">Submit</button>
    </form>
    <a id=/ href="/">/</a>
</body>
</html>