<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home De Turnip</title>
</head>
<body>
    <a id=/add href="../add">/add</a>
    <a id=/view href="../view">/view</a>
</body>
</html>