<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>The results you put in are </p>
    <ul>
        <% viewData.forEach((item)=> { %>
            <li>
                Feeling: <%= item.subTypeOne %>, HexCode Color For Feeling: <span style="color: <%= item.subTypeTwo %>">
                        <%= item.subTypeTwo %>
                    </span>
            </li>
            <% }) %>
            
    </ul>
    
    <a id=/in href="/">/</a>
</body>

</html>